In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
weather_2013 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2013.csv', encoding='cp949')
weather_2014 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2014.csv', encoding='cp949')
weather_2015 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2015.csv', encoding='cp949')
weather_2016 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2016.csv', encoding='cp949')
weather_2017 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2017.csv', encoding='cp949')
weather_2018 = pd.read_csv('/content/drive/MyDrive/가스공급량 수요예측/기상정보2018.csv', encoding='cp949')

In [ ]:
weather_2013

       지점 지점명                일시  기온(°C)  ...  습도(%)  일조(hr)  적설(cm)  전운량(10분위)
0     108  서울  2013-01-01 00:00    -8.3  ...   56.0     NaN     6.4        3.0
1     108  서울  2013-01-01 01:00    -8.5  ...   57.0     NaN     6.4        NaN
2     108  서울  2013-01-01 02:00    -8.4  ...   60.0     NaN     6.4        NaN
3     108  서울  2013-01-01 03:00    -8.1  ...   58.0     NaN     6.4        6.0
4     108  서울  2013-01-01 04:00    -8.2  ...   58.0     NaN     6.4        6.0
...   ...  ..               ...     ...  ...    ...     ...     ...        ...
8755  108  서울  2013-12-31 19:00     5.5  ...   62.0     NaN     NaN        NaN
8756  108  서울  2013-12-31 20:00     5.2  ...   70.0     NaN     NaN        NaN
8757  108  서울  2013-12-31 21:00     4.9  ...   64.0     NaN     NaN        6.0
8758  108  서울  2013-12-31 22:00     4.2  ...   62.0     NaN     NaN        NaN
8759  108  서울  2013-12-31 23:00     3.7  ...   61.0     NaN     NaN        NaN

[8760 rows x 10 columns]

In [ ]:
temp_2013 = weather_2013[['일시','기온(°C)']]
temp_2014 = weather_2014[['일시','기온(°C)']]
temp_2015 = weather_2015[['일시','기온(°C)']]
temp_2016 = weather_2016[['일시','기온(°C)']]
temp_2017 = weather_2017[['일시','기온(°C)']]
temp_2018 = weather_2018[['일시','기온(°C)']]

In [ ]:
temp_2013

                    일시  기온(°C)
0     2013-01-01 00:00    -8.3
1     2013-01-01 01:00    -8.5
2     2013-01-01 02:00    -8.4
3     2013-01-01 03:00    -8.1
4     2013-01-01 04:00    -8.2
...                ...     ...
8755  2013-12-31 19:00     5.5
8756  2013-12-31 20:00     5.2
8757  2013-12-31 21:00     4.9
8758  2013-12-31 22:00     4.2
8759  2013-12-31 23:00     3.7

[8760 rows x 2 columns]

In [ ]:
temp = temp_2013.append([temp_2014,temp_2015,temp_2016,temp_2017,temp_2018],ignore_index=True)
temp

                     일시  기온(°C)
0      2013-01-01 00:00    -8.3
1      2013-01-01 01:00    -8.5
2      2013-01-01 02:00    -8.4
3      2013-01-01 03:00    -8.1
4      2013-01-01 04:00    -8.2
...                 ...     ...
52579  2018-12-31 19:00    -3.1
52580  2018-12-31 20:00    -3.7
52581  2018-12-31 21:00    -4.6
52582  2018-12-31 22:00    -5.4
52583  2018-12-31 23:00    -5.2

[52584 rows x 2 columns]

In [ ]:
temp['일시'] = pd.to_datetime(temp['일시'])
temp['year'] = temp['일시'].dt.year
temp['month'] = temp['일시'].dt.month
temp['day'] = temp['일시'].dt.day
temp['hour'] = temp['일시'].dt.hour
temp['weekday'] = temp['일시'].dt.weekday

In [ ]:
temp = temp.rename(columns = {'기온(°C)':'temper'})

In [ ]:
temp

                       일시  temper  year  month  day  hour  weekday
0     2013-01-01 00:00:00    -8.3  2013      1    1     0        1
1     2013-01-01 01:00:00    -8.5  2013      1    1     1        1
2     2013-01-01 02:00:00    -8.4  2013      1    1     2        1
3     2013-01-01 03:00:00    -8.1  2013      1    1     3        1
4     2013-01-01 04:00:00    -8.2  2013      1    1     4        1
...                   ...     ...   ...    ...  ...   ...      ...
52579 2018-12-31 19:00:00    -3.1  2018     12   31    19        0
52580 2018-12-31 20:00:00    -3.7  2018     12   31    20        0
52581 2018-12-31 21:00:00    -4.6  2018     12   31    21        0
52582 2018-12-31 22:00:00    -5.4  2018     12   31    22        0
52583 2018-12-31 23:00:00    -5.2  2018     12   31    23        0

[52584 rows x 7 columns]

In [ ]:
date_2019 = pd.date_range("2019-1-1", "2019-4-1",freq="H")
temp_2019 = pd.DataFrame(date_2019)
temp_2019.columns = ["일시"]

In [ ]:
temp_2019['일시'] = pd.to_datetime(temp_2019['일시'])
temp_2019['year'] = temp_2019['일시'].dt.year
temp_2019['month'] = temp_2019['일시'].dt.month
temp_2019['day'] = temp_2019['일시'].dt.day
temp_2019['hour'] = temp_2019['일시'].dt.hour
temp_2019['weekday'] = temp_2019['일시'].dt.weekday

In [ ]:
temp_2019 = temp_2019.iloc[:-1]
temp_2019

                      일시  year  month  day  hour  weekday
0    2019-01-01 00:00:00  2019      1    1     0        1
1    2019-01-01 01:00:00  2019      1    1     1        1
2    2019-01-01 02:00:00  2019      1    1     2        1
3    2019-01-01 03:00:00  2019      1    1     3        1
4    2019-01-01 04:00:00  2019      1    1     4        1
...                  ...   ...    ...  ...   ...      ...
2155 2019-03-31 19:00:00  2019      3   31    19        6
2156 2019-03-31 20:00:00  2019      3   31    20        6
2157 2019-03-31 21:00:00  2019      3   31    21        6
2158 2019-03-31 22:00:00  2019      3   31    22        6
2159 2019-03-31 23:00:00  2019      3   31    23        6

[2160 rows x 6 columns]

In [ ]:
temp.isna().sum()

일시         0
temper     6
year       0
month      0
day        0
hour       0
weekday    0
dtype: int64

In [ ]:
temp.fillna(temp['temper'].mean(),inplace = True)

In [ ]:
temp.temper.isna().sum()

0

In [ ]:
temp.shape

(52584, 7)

In [ ]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

In [ ]:
features = ['year','month','day','hour','weekday']
target = ['temper']

In [ ]:
X_train, X_test, y_train = temp[features], temp_2019[features], temp[target]

In [ ]:
model.fit(X_train,y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=777, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
date_2019 = pd.date_range("2019-1-1", "2019-4-1",freq="H")
submission = pd.DataFrame(date_2019)
submission['기온'] = 0
submission.columns = ["일시","temper"]
submission = submission.iloc[:-1]

In [ ]:
submission

                      일시  temper
0    2019-01-01 00:00:00       0
1    2019-01-01 01:00:00       0
2    2019-01-01 02:00:00       0
3    2019-01-01 03:00:00       0
4    2019-01-01 04:00:00       0
...                  ...     ...
2155 2019-03-31 19:00:00       0
2156 2019-03-31 20:00:00       0
2157 2019-03-31 21:00:00       0
2158 2019-03-31 22:00:00       0
2159 2019-03-31 23:00:00       0

[2160 rows x 2 columns]

In [ ]:
submission['temper'] = model.predict(X_test)

In [ ]:
submission

                      일시     temper
0    2019-01-01 00:00:00  -3.777217
1    2019-01-01 01:00:00  -4.376366
2    2019-01-01 02:00:00  -4.601617
3    2019-01-01 03:00:00  -4.914157
4    2019-01-01 04:00:00  -5.321001
...                  ...        ...
2155 2019-03-31 19:00:00  14.390414
2156 2019-03-31 20:00:00  13.318585
2157 2019-03-31 21:00:00  12.305338
2158 2019-03-31 22:00:00  11.657608
2159 2019-03-31 23:00:00  11.056290

[2160 rows x 2 columns]

### k-fold 교차검증

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
k_fold = KFold(n_splits = 5,shuffle = True, random_state = 777)

In [ ]:
for train_idx, val_idx in k_fold.split(X_train): 
  print(len(train_idx), len(val_idx)) 
  break

42067 10517

In [ ]:
models = [] # 모델을 담을 바구니라 생각하자. 

for train_idx, val_idx in k_fold.split(X_train): 
  x_t = X_train.iloc[train_idx] 
  y_t = y_train.iloc[train_idx] 
  x_val = X_train.iloc[val_idx] 
  y_val = y_train.iloc[val_idx] 
  
  models.append(model.fit(x_t, y_t, eval_set=(x_val, y_val), early_stopping_rounds=100, verbose = 100))

Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 6.51677
[200]	valid_0's l2: 4.9619
[300]	valid_0's l2: 3.95348
[400]	valid_0's l2: 3.2974
[500]	valid_0's l2: 2.86579
[600]	valid_0's l2: 2.55158
[700]	valid_0's l2: 2.35622
[800]	valid_0's l2: 2.15162
[900]	valid_0's l2: 1.97854
[1000]	valid_0's l2: 1.82849
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 1.82849
Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 6.76487
[200]	valid_0's l2: 5.03727
[300]	valid_0's l2: 4.09567
[400]	valid_0's l2: 3.50531
[500]	valid_0's l2: 3.01821
[600]	valid_0's l2: 2.65917
[700]	valid_0's l2: 2.35855
[800]	valid_0's l2: 2.13861
[900]	valid_0's l2: 1.99747
[1000]	valid_0's l2: 1.85212
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 1.85212
Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 6.67489
[200]	valid_0's l2: 5.04209
[300]	valid_0's l2: 4.14209
[400]	valid_0's l2: 3.43714
[500]	valid_0's l2: 2.89665
[600]	valid_0's l2: 2.60048
[700]	valid_0's l2: 2.35292
[800]	valid_0's l2: 2.16783
[900]	valid_0's l2: 2.00517
[1000]	valid_0's l2: 1.861
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 1.861
Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 6.6351
[200]	valid_0's l2: 4.87324
[300]	valid_0's l2: 4.04052
[400]	valid_0's l2: 3.43002
[500]	valid_0's l2: 2.97841
[600]	valid_0's l2: 2.62983
[700]	valid_0's l2: 2.35897
[800]	valid_0's l2: 2.16064
[900]	valid_0's l2: 2.00931
[1000]	valid_0's l2: 1.85676
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 1.85676
Training until validation scores don't improve for 100 rounds.
[100]	valid_0's l2: 6.67175
[200]	valid_0's l2: 4.96675
[300]	valid_0's l2: 4.01132
[400]	valid_0's l2: 3.3225
[500]	valid_0's l2: 2.87202
[600]	valid_0's l2: 2.54841
[700]	valid_0's l2: 2.29185
[800]	valid_0's l2: 2.06154
[900]	valid_0's l2: 1.89824
[1000]	valid_0's l2: 1.77799
Did not meet early stopping. Best iteration is:
[1000]	valid_0's l2: 1.77799

In [ ]:
preds = [] 
for model in models: 
  preds.append(model.predict(X_test)) 

len(preds)

5

In [ ]:
kfoldLightGBM = submission.copy()

In [ ]:
kfoldLightGBM['temper'] = np.mean(preds, axis = 0) # mean 평균값함수,axis 축

In [ ]:
kfoldLightGBM

                      일시     temper
0    2019-01-01 00:00:00  -2.865005
1    2019-01-01 01:00:00  -4.238406
2    2019-01-01 02:00:00  -4.596427
3    2019-01-01 03:00:00  -4.838647
4    2019-01-01 04:00:00  -5.156904
...                  ...        ...
2155 2019-03-31 19:00:00  15.525675
2156 2019-03-31 20:00:00  14.108487
2157 2019-03-31 21:00:00  13.315534
2158 2019-03-31 22:00:00  12.704152
2159 2019-03-31 23:00:00  11.945252

[2160 rows x 2 columns]

In [ ]:
submission.to_csv("./2019년기온_1110.csv")